@mixin font($fontFamily, $size, $height, $weight: 400, $style: normal, $spacing) {
  font-family: $fontFamily;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}